<div class="main-body">
  <header>
    <a (click)="onRedirect('articles')"><h1>Articles</h1></a>
    <div class="button-container">
      <button *ngIf="isAuth" (click)="onRedirect('new-article')" class="nav-button">Post</button>
      <button *ngIf="isAuth" (click)="logout()" class="nav-button">Logout</button>
      <button *ngIf="!isAuth" (click)="onRedirect('login-page')" class="nav-button">Login</button>
      <button *ngIf="!isAuth" (click)="onRedirect('registration')"  class="nav-button">Register</button>
    </div>
  </header>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
