.article {
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: #333;
  width:800px
}

.article .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin: 0;
  }
}

.article-id-container {
  display: flex;
  justify-content: flex-end;
}

.article-id {
  font-size: 14px;
  color: #999;
}

.article .content p {
  font-size: 18px;
  color: #666;
  line-height: 1.7;
  word-spacing: 0.05em;
}
